<html style="background: lightblue">

    <p>Dozent erstellen</p>

    <!-- <form method="post">
    {% csrf_token %}
    <label for="titel">Titel:</label><br>
    <select id="titel" name="titel">
        <option value="prof">Prof.</option>
        <option value="dr">Doktor</option>
    </select>
    </br>
        <label for="vorname">Vorname:</label><br>
        <input name="vorname" type="text" id="vorname">
    </br>
        <label for="nachname">Nachname:</label><br>
        <input name="nachname" type="text" id="nachname">
    </br>  
    </br>      
        <input type="submit" value="Submit">
    </form> -->

      <form method="post">
        {% csrf_token %} 
        {{form.as_p}}
        <!-- <label for="{{form.title.id_for_label}}"> {{form.titel.label}}</label>{{form.titel}}
        <br />

        <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
        <br />
          {{form.name}}
          <br />
        <label for="{{form.nachname.id_for_label}}">{{form.nachname.label}}</label>
          <br />
          {{form.nachname}}
          <br /> -->
        <input type="submit" value="Submit" />
      </form>

</html>
