<!-- <html style="background: lightblue">
    <p>Benutzer erstellen</p>
    <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label><br/>
        <input name="email" type="text" id="email">
    </br>
        <label for="vorname">Vorname:</label><br>
        <input name="vorname" type="text" id="vorname">
    </br>
        <label for="nachname">Nachname:</label><br>
        <input name="nachname" type="text" id="nachname">
    <br>
        <input type="submit" value="Submit">
    </form>
</html> -->


<!-- <form method="post">
    {% csrf_token %} {{form.as_p}}
    <!-- <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>{{form.titel}}
    <br />

    <label for="{{form.vorname.id_for_label}}">{{form.vorname.label}}</label>{{form.vorname}}
    <br />

    <label for="{{form.nachname.id_for_label}}">{{form.nachname.label}}</label>{{form.nachname}}
    <br /> -->

    <!-- <input type="submit" value="Submit" /> -->
<!-- </form> -->


<button type="button"><a href="/">Zurück</a></button>

<form method="post" style="background: lightblue">  
    <input type="hidden" name="csrfmiddlewaretoken" value="ykVtQLAdVdtjknZC89y9WPkCA6baMP1tDH17c7OVhqhCcowBnIdtcfu138zXNofx"> <p><label for="id_rolle">Rolle:</label> <select name="rolle" required="" id="id_rolle">
    <option value="" selected="">---------</option>
  
    <option value="Admin">Admin</option>
  
    <option value="Tutor">Tutor</option>
  
    <option value="Kursleiter">Kursleiter</option>
  
    <option value="Dozent">Dozent</option>
  
  </select></p>
  <p><label for="id_email">Email:</label> <input type="email" name="email" maxlength="255" autofocus="" required="" id="id_email"></p>
  <p><label for="id_vorname">Vorname:</label> <input type="text" name="vorname" maxlength="255" id="id_vorname"></p>
  <p><label for="id_nachname">Nachname:</label> <input type="text" name="nachname" maxlength="255" id="id_nachname"></p>
  <p><label for="id_is_active">Is active:</label> <input type="checkbox" name="is_active" id="id_is_active" checked=""></p>
  <p><label for="id_is_staff">Is staff:</label> <input type="checkbox" name="is_staff" id="id_is_staff"></p>
  <p><label for="id_is_superuser">Is superuser:</label> <input type="checkbox" name="is_superuser" id="id_is_superuser"></p>
  <p><label for="id_password1">Password:</label> <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1"> <span class="helptext"></span></p><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul><p></p>
  <p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"> <span class="helptext">Enter the same password as before, for verification.</span></p> 
    
    
    
    <!--  -->
    <input type="submit" value="Submit">
  </form>