<!-- <form method="post">
    {% csrf_token %} {{form.as_p}} 
    
    <input type="submit" value="Submit" />
</form> -->

<html style="background:lightblue">
<button type="button"><a href="/">Zurück</a></button>

<h2>Kursleiter erstellen: </h2>
<form method="post" action="" style="background: lightblue">  
  <input type="hidden" name="csrfmiddlewaretoken" value="ykVtQLAdVdtjknZC89y9WPkCA6baMP1tDH17c7OVhqhCcowBnIdtcfu138zXNofx"> 
  {% csrf_token %}
    <div class="form-group">
        <label for="id_vorname">Vorname:</label> 
        <input type="text" class="form-control" name="vorname" maxlength="255" id="id_vorname"></div>
    <div class="form-group">
        <label for="id_nachname">Nachname:</label> 
        <input type="text" class="form-control" name="nachname" maxlength="255" id="id_nachname"></div>
    <div class="form-group">
        <label for="id_email">Email:</label> 
        <input type="email" class="form-control" name="email" maxlength="255" autofocus="" required="" id="id_email"></div>       
    <div class="form-group">
        <label for="id_kursleiter_id">Matrikelnummer:</label> 
        <input type="text" class="form-control" name="kursleiter_id" maxlength="255" id="id_kursleiter_id"></div>
    <div class="form-group">
        <label for="id_rolle">Rolle:</label> 
        <select name="rolle" required="" id="id_rolle">
            <option value="Kursleiter">Kursleiter</option>
        </select></div>

    {% if kurse %}
        <p><label for="id_kurs">Kurs</label>

        <select name="kurs" required="" id="id_kurs">
        {% for i in kurse %}
            <option value="{{ i.kurs }}">{{ i.kurs }}</option>
        {% endfor%}
        </select>
        </p>
    {% endif %}
    
    <div><label for="id_is_active">Is active:</label> 
        <input type="checkbox" name="is_active" id="id_is_active" checked=""></div>
    <div><label for="id_is_staff">Is staff:</label> 
        <input type="checkbox" name="is_staff" id="id_is_staff"></div>
    <div><label for="id_is_superuser">Is superuser:</label> 
        <input type="checkbox" name="is_superuser" id="id_is_superuser"></div>
 
    <input type="submit" value="Submit">
  </form>

  </html>