<html style="background: lightblue">
<div class="row">
    <div class="col-md">
         <div class="card card-body">
             <h2>Alle Tutoren</h2>
         </div>
         <div class="card card-body">
             <table>
                 <tr>
                     <th>Email</th>
                     <th>Vorname</th>
                     <th>Nachname</th>
                     <th>Matrikelnummer</th>
                 </tr>
 
                 {% for i in user %}
                 <tr>
                     <td>{{i.email}}</td>
                     <td>{{i.vorname}}</td>
                     <td>{{i.nachname}}</td>
                     <td>{{i.tutor_id}}</td>
                     <td><button type="text">Bearbeiten</button></td>
                     <td><button type="text">Löschen</button></td>
                 </tr>
                 {% endfor %}
             </table>
         </div>
    </div> 
 </div>
 </html>