<table>
    <th>
        <tr>
            <td>Kurs Id</td>
            <td>Kurs</td>
            <td>Ref. ID</td>
            <td>Ass. ID</td>
            <td>Dozent</td>
        </tr>

        {% for i in kurs %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.kurs}}</td>
            <td>{{i.ref_id}}</td>
            <td>{{i.ass_id}}</td>
            <td>{{i.dozent}}</td>
            <td><button type="text">Bearbeiten</button></td>
            <td><button type="text">Löschen</button></td>
                 
        </tr>
        {% endfor %}

    </th>
</table>