<form method="post" style="background: lightblue">  
  {% csrf_token %} 
  {{form.as_p}} 
  <input type="submit" value="Submit" />
</form>

<!-- <form method="post" style="background: lightblue">  
  <input type="hidden" name="csrfmiddlewaretoken" value="JE2uiSMD0PFix5wz52rA64ZcGsPQhxgVeihje1uxdSCjADDD1QeKrGRCFOm81ZRv"> <ul class="errorlist nonfield"><li>Please enter a correct email and password. Note that both fields may be case-sensitive.</li></ul>
  <p><label for="id_username">Email:</label> 
    <input type="text" name="username" value="test123@hhu.de" autofocus="" autocapitalize="none" autocomplete="username" maxlength="255" required="" id="id_username"></p>
  <p><label for="id_password">Password:</label> 
    <input type="password" name="password" autocomplete="current-password" required="" id="id_password"></p> 
 

  <input type="submit" value="Submit">
</form> -->


<!-- 
{% block start %}
<div class="container" style="background: lightblue">
  <form method="POST" class="form" id="form">
    <h1>Login</h1>
    {% csrf_token %}

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email"  class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Passwort</label>
            <input type="password" name="password" id="password"  class="form-control">
        </div>

        <a href="{% url 'create-kursleiter'%}">Passwort vergessen</a>

        <button class="btn btn-danger mt-4" type="submit">Submit</button>
  </form>
</div>
{% endblock%} -->